header {
    display: block;width:100%;background-color:#28a745;
    color:#fff;position: relative;height:80px;
}
header .logo {
    position: absolute;
    top :40%; left: 15px;
    
}

header .navbar{
    position: absolute;
    top: 30%;right: 20px;
   
    
        
}

header .navbar ul li{
    margin: 0;padding: 0;
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
   ; 
}

header .navbar a {
    font-size: 16px;
    line-height: normal;
    color: #fff;
    text-decoration: none;
    transition: transform .2s; 
}

header .navbar a:hover{
    color:#000;
    
}

.home {
    margin-top: 2%;
}

.home h1{text-align: center;color:green;margin:1%;}
.home p{ text-align: justify}
.home img{width:40%;height: auto; margin:2%;}

footer {font-size:20px; text-align: center;background-color: black;color: #fff;padding: 1%;}